<form action="/" method="post">
  <div class='form_item'>
    <input type="text" name="title" class="form_item_text_input" placeholder="題名" required="required">
    <textarea name="message" class="form_item_text_input" placeholder="内容"></textarea>
    <input type="submit" value="保存" class="form_item_button">
  </div>
</form>
